body {
  background: #5c258d;
  background: -webkit-linear-gradient(to right, #4389a2, #5c258d);
  background: linear-gradient(to right, #4389a2, #5c258d);
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.app {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 100vh;
  text-align: center;
  border: white 2px solid;
  border-radius: 5%;
  width: 70vw;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
}

#submitBtn {
  box-shadow: 1px 2px 0px 0px #1564ad;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 5px;
  border: 1px solid #337bc4;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #babec2;
  margin-top: 2rem;
}

img {
  height: 15vh;
  color: lightblue;
  padding-left: 3rem;
}

.formStyle {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.formStyle input {
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
