html,
body {
  min-height: 100%;
  max-width: 100%;
}

body {
  background-image: url("./img/android_weather_app.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 254, 254);
  text-shadow: black 2px 2px 2px;
  text-transform: uppercase;
}

.container {
  text-align: center;
  position: relative;
  margin-top: 3rem;
}

.headerText {
  color: white;
  font-size: 1.7rem;
  font-style: italic;
  text-transform: uppercase;
}

.icon img {
  font-size: 3rem;
}

.forcast {
  color: rgb(255, 251, 251);
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.8;
}

.forcast ul {
  list-style: none;
}

.info {
  margin-right: 4rem;
}

.formStyle {
  max-width: 100%;
  width: 400px;
  height: 130px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 10px;
}

.formStyle input {
  border-radius: 10px;
  height: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: rgb(44, 43, 42);
  padding: 3px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 2px solid lightblue;
  background-color: #fff;
}

.formStyle button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  background-color: #16959e;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 40%;
}

@media only screen and (max-width: 700px) {
  .formStyle {
    max-width: 100%;
    width: 80vw;
    height: 130px;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
  .formStyle input {
    height: 0.7rem;
    width: 70vw;
  }

  .headerText {
    color: white;
    font-size: 0.7rem;
    font-style: italic;
    text-transform: uppercase;
  }
  .forcast {
    font-size: 0.7rem;
  }
}
